.inline-chart {
    width: 80%;
    display: inline-block;
    min-width: 320px;
    min-height: 320px;
    max-width: 600;
    max-height: 400;
    align-content: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    vertical-align: top;
    overflow: hidden;
}

.long-chart{
  width: 95%;
  display: inline-block;
  min-height: 350px;
  background-color: white;
  min-width: 250px;
}

.y .domain{
  display: none;
}

.x .domain {
  display: none;
}

.x .tick line {
  display: none;
}

.y .tick:not(:first-of-type) line {
  stroke: #e7e7e7;
}

.chart-title {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
}

.chart-subtitle {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 10px;
  margin-top: 2px;
  font-size: 18px;
  text-align: left;
}

.highlight {
  fill: #a3a3a3;
}

.chart-tooltip {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-anchor: middle;
}

.chart-footer {
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  color: #707070;
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
}

.paragraph-text{
  font-family: Georgia, Times, serif;
  font-size: 24px;
  margin-left: 0px;
  line-height: 150%;
  margin-left: 5px;
  margin-right: 5px;
}
